body{
  margin-right: 150px;
  margin-left: 150px;
  font-size: 18px;
  font-family: ariel;
  let sparkle:#u8212;
  /* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow:hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  background-color:#FFB6C1;
  float: left;
  color: #black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #FFB6C1;
  color:black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #FFB6C1;

  /* Floating cupcakes */
.cupcake {
    width: 60px;
    position: fixed;
    bottom: -100px;
    animation: floatUp 7s linear infinite;
    z-index: 1;
}

/* Different positions */
.cupcake:nth-child(1) {
    left: 10%;
    animation-delay: 0s;
}

.cupcake:nth-child(2) {
    left: 50%;
    animation-delay: 2s;
}

.cupcake:nth-child(3) {
    left: 80%;
    animation-delay: 4s;
}

/* Animation */
@keyframes floatUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-900px);
        opacity: 0;
    }
  color: white;
}


